/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}
main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.container {
  max-width: 375px;
  width: 100%;
}

/* header */
header {
  background: hsl(180, 29%, 50%);
  z-index: -1;
  height: fit-content;
}
header img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}

/* filter */
.filter {
  background: #fff;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: -31.5px;
  border-radius: 5px;
}
.filter-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.single-skill {
  display: flex;
}
.single-skill p {
  color: hsl(180, 29%, 50%);
  background: hsl(180, 31%, 95%);
  padding: 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.delete {
  padding: 7px;
  background: hsl(180, 29%, 50%);
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.delete:hover {
  background: #222;
}

.clear {
  color: hsl(180, 8%, 52%);
  cursor: pointer;
  transition: all 0.3s linear;
}
.clear:hover {
  color: hsl(180, 29%, 50%);
  text-decoration: underline;
}

/* jobs list */
.jobs-list {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  padding: 3rem 0;
}

.single-job {
  background: #fff;
  padding: 2rem;
  padding-bottom: 24px;
  border-radius: 5px;
  position: relative;
}
.single-job.new-article::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: hsl(180, 29%, 50%);
  z-index: 3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.single-job img {
  width: 4rem;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name {
  margin-right: 10px;
  color: hsl(180, 29%, 50%);
}
.new,
.featured {
  background: hsl(180, 29%, 50%);
  padding: 8px;
  border-radius: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  display: grid;
}
.featured {
  background: hsl(180, 14%, 20%);
}
.job-desc {
  color: hsl(180, 14%, 20%);
  font-weight: 700;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 16px;
}
.job-desc:hover {
  color: hsl(180, 29%, 50%);
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(180, 8%, 52%);
  font-size: 14px;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(180, 8%, 52%);
}
.circle {
  font-size: 5px;
}

.skills {
  padding-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.skill-btn {
  border: none;
  color: hsl(180, 29%, 50%);
  background: hsl(180, 31%, 95%);
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Spartan', sans-serif;
  cursor: pointer;
  transition: all 0.3s linear;
}
.skill-btn:hover {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}

/* finir le css
center les élement avec bg
media screen 
revoir taille et couleur 
grid les btn
couleur gauche new 
*/

/* responsive design */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1220px;
  }
  .single-job {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
  }
  .single-job img {
    width: 6rem;
    position: inherit;
    top: auto;
    transform: translateY(0);
  }
  .top-info {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .info {
    margin-top: 0;
  }
  .footer-info {
    padding-bottom: 0;
    border-bottom: none;
  }
  .skills {
    padding-top: 0;
    padding-top: 0;
    max-width: 100%;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
